/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/output.1
/autom4te.cache/traces.1
/autom4te.cache/traces.0
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/Makefile
/Makefile.in
/mkinstalldirs
/missing
/po/ar.gmo
/po/ca.gmo
/po/cs.gmo
/po/da.gmo
/po/dz.gmo
/po/de.gmo
/po/el.gmo
/po/en_GB.gmo
/po/es.gmo
/po/fr.gmo
/po/fi.gmo
/po/he.gmo
/po/Makefile
/po/Makefile.in.in
/po/Makefile.in
/po/nb.gmo
/po/oc.gmo
/po/pl.gmo
/po/pt_BR.gmo
/po/pt.gmo
/po/ru.gmo
/po/stamp-it
/po/POTFILES
/po/sv.gmo
/src/.deps/main.Po
/src/GnomeSubtitles/Execution/ConfigureDefines.cs
/src/GnomeSubtitles/Execution/gnome-subtitles
/src/libgstreamer_playbin.so
/help/sv/.xml2po.mo
/src/main.o
/src/Makefile
/src/Makefile.am~
/src/Makefile.in
/build/gnome-subtitles.exe
/build/gnome-subtitles.exe.config
/build/gnome-subtitles.exe.mdb
/build/libgstreamer_playbin.so
/build/sublib.dll
/build/sublib.dll.mdb
/config.log
/config.status
/configure
/help/gnome-subtitles-C.omf
/help/gnome-subtitles-ca.omf
/help/gnome-subtitles-de.omf
/help/fr/.xml2po.mo
/help/es/.xml2po.mo
/help/es/gnome-subtitles.xml
/help/fr/gnome-subtitles.xml
/help/el/.xml2po.mo
/help/de/.xml2po.mo
/help/el/gnome-subtitles.xml
/help/de/gnome-subtitles.xml
/help/ca/.xml2po.mo
/help/ca/gnome-subtitles.xml
/help/gnome-subtitles-el.omf
/help/gnome-subtitles-es.omf
/gtk-doc.make
/gnome-subtitles.pidb
/gnome-subtitles.doap~
/gnome-doc-utils.make
/depcomp
/data/Makefile.in
/data/Makefile
/data/gnome-subtitles.desktop
/gnome-subtitles.userprefs
/gnome-subtitles.usertasks
/help/gnome-subtitles-fr.omf
/help/gnome-subtitles-oc.omf
/help/gnome-subtitles-sv.omf
/help/Makefile
/help/Makefile.in
/help/oc/gnome-subtitles.xml
/help/oc/.xml2po.mo
/help/sv/gnome-subtitles.xml
