/po/*.gmo
*~
/autom4te.cache/*
/help/*/*.mo
/help/gnome-subtitles-*.omf
/help/*/gnome-subtitles.xml
/help/*/*.stamp
/help/*/index.docbook
/help/*/legal.xml
/aclocal.m4
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/Makefile
/Makefile.in
/mkinstalldirs
/missing
/po/Makefile
/po/Makefile.in.in
/po/Makefile.in
/po/stamp-it
/po/POTFILES
/po/.intltool-merge-cache
/po/.intltool-merge-cache.lock
/src/GnomeSubtitles/Execution/ConfigureDefines.cs
/src/GnomeSubtitles/Execution/AssemblyInfo.cs
/src/GnomeSubtitles/Execution/gnome-subtitles
/src/Makefile
/src/Makefile.in
/build/*
/config.log
/config.status
/configure
/gtk-doc.make
/gnome-subtitles.pidb
/depcomp
/data/Makefile.in
/data/Makefile
/data/org.gnome.GnomeSubtitles.desktop
/data/org.gnome.GnomeSubtitles.gschema.valid
/data/org.gnome.GnomeSubtitles.appdata.xml
/gnome-subtitles.userprefs
/gnome-subtitles.usertasks
/help/Makefile
/help/Makefile.in
/po/gnome-subtitles.pot
/config.sub
/config.guess
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/ltmain.sh
/libtool
/po/missing
/.vs/gnome-subtitles/xs/UserPrefs.xml
/obj/*
compile
/src/.libs
/src/External/GstBackend/.deps
/src/External/GstBackend/.dirstamp
/src/External/GstBackend/.libs
/src/External/GstBackend/libgst_backend_la-gst-backend.lo
/src/libgst_backend.la
